body {
    background-image: url(../images/portada.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.custom-header {
    background-color: rgba(21, 69, 100, 0.7);
}

.color-button {
    background-color: #1c98ed;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.color-button:hover {
    background-color: #1478b7;
}

header img {
    width: 70px;
    height: auto;
    margin: 10px;
    vertical-align: middle;
}

header h1 {
    font-size: 2.0em;
    display: inline-block;
    margin: 0;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.color-form {
    background-color: rgba(2, 33, 53, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
}

footer {
    background-color: rgba(21, 69, 100, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
