* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #56c3ee, #5579b8);
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

main{
    height: 100vh;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #154564;
    color: white;
    padding: 10px;
}

header img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

header h1 {
    font-size: 1.5em;
    display: inline-block;
    margin: 0;
}
header .fa-user {
    cursor: pointer; /* Cursor pointer para el icono de usuario */
}
header .w3-half:last-child {
    text-align: right;
}

/* Content styles */
.content {
    background-color: #ddd;
    padding: 20px;
    flex: 1; /* To push the footer to the bottom */
    display: flex;
    align-items: center;
    justify-content: center;
}

.w3-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px; /* Limita el ancho del box */
}

/* Button styles */
button.w3-button-custom {
    background-color: #154564;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

button.w3-button-custom:hover {
    background-color: #0d3450; /* Slightly darker shade for hover */
    cursor: pointer;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111; /* Fondo oscuro */
    color: white;
}

.h2{
    color: #0d3450;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #154564; /* Fondo negro */
}

.footer-left {
    flex: 1;
    max-width: 40%;
}

.footer-left h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.footer-left p {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.footer-left p i {
    margin-right: 10px;
    color: #1c98ed; /* Color azul para los íconos */
}

.footer-map {
    flex: 1;
    max-width: 55%;
}

.footer-map iframe {
    width: 100%;
    height: 200px; /* Altura fija para el mapa */
    border: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #888;
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {


    .footer-left, .footer-map {
        max-width: 100%;
    }
    .footer-map iframe {
        height: 250px;
    }
}

a{
    text-decoration: none;
}