<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../styles/mainStyle.css">
</head>
<body>

<!-- Header -->
<header>
  <div class="w3-half">
    <img src="../images/isologotipo.png" alt="Isologotipo">
    <h1>Hospital Nacional Profesor Alejandro Posadas</h1>
  </div>

  <div class="w3-half">
    <p>
      <i class="fa fa-user w3-margin-right"></i>Nadal, Franco
    </p>
  </div>
</header>

<div class="content">
  <div class="w3-box w3-card-4">
    <h2>Hola Franco, ¿cómo podemos ayudarte?</h2>
    <button class="w3-button-custom w3-margin-top" style="display: flex; align-items: center; justify-content: center;">
      <i class="fa fa-calendar-plus-o fa-fw "style=" margin-right: 17px;"></i>
      <a href="reserveView2.html" >Reserva Turno</a>
    </button>
    <button class="w3-button-custom w3-margin-top" style="display: flex; align-items: center; justify-content: center;">
      <i class="fa fa-calendar-check-o fa-fw"  style=" margin-right: 10px;"></i>
      <a href="./nextsShifts.html">Proximos Turnos</a>
    </button>
    <button class="w3-button-custom w3-margin-top" style="display: flex; align-items: center; justify-content: center;">
      <i class="fa fa-history" style="width: 20px; margin-right: 3px;"></i>
      <a href="./previouShifts.html">Historial de Turnos</a>
    </button>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
