<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/reserveStyle.css">
    <link rel="stylesheet" href="../styles/selectEspecialistStyle.css">
    <title>Listado de Médicos</title>

</head>
<body>
<header class="w3-container w3-tealll w3-padding-small">

    <div class="w3-half">
        <img src="../images/isologotipo.png" alt="Isologotipo">
        <h1 class="w3-text-white">Hospital Nacional Profesor Alejandro Posadas</h1>
    </div>

    <div class="w3-half">
        <p class="w3-text-white">
            <i class="fa fa-user w3-margin-right"></i>Nadal, Franco
        </p>
    </div>
</header>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dr. Juan Pérez</h3>
    <p class="especialidad">Cardiología</p>
    <p>Especialista en enfermedades del corazón y sistema circulatorio con más de 10 años de experiencia.</p>
    <a href="./shiftDetailsView.html">Seleccionar</a>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
<div class="card">
    <img src="../images/especialist1.png" alt="Foto Médico">
    <h3>Dra. Laura Gómez</h3>
    <p class="edad">Edad: 48</p>
    <p class="especialidad">Pediatría</p>
    <p>Cuida la salud de los niños desde el nacimiento hasta la adolescencia.</p>
</div>
</body>
<footer>
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
</html>
