
    nav{
        height: 70px;
        background-color: rgb(21, 69, 101);
    }

    .navLetrasBlancas{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }

  